# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.opensdf
*.sdf
*.suo
*.ipch

# Build folders
*.tlog
*.obj
*.res
*.manifest
*.ilk
*.lastbuildstate
*.log
*.pdb
*.rc
*.idb
*.map